<app-banner src="assets/imagens/banner-homepage.png" alt="Banner da aplicação"></app-banner>

<app-container class="homepage">
  <app-form-busca></app-form-busca>

  <h2>Promoções</h2>
  <div class="card-wrapper">
    <app-card-busca *ngFor="let promocao of promocoes" [imagem]="promocao.imagem" [destino]="promocao.destino" [preco]="promocao.preco" ></app-card-busca>

  </div>

  <h2>Depoimentos</h2>
  <div class="card-wrapper">
    <app-card-depoimento></app-card-depoimento>
    <app-card-depoimento></app-card-depoimento>
    <app-card-depoimento></app-card-depoimento>
  </div>

</app-container>

<app-footer></app-footer>
